html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * Clear fix */
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

/* width */
body::-webkit-scrollbar {
width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
background: white; 
border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
background: rgb(155, 155, 155); 
}

/* ! ------------------ My CSS ----------------------- */
/* ? ------------------ Header ------------------------*/
header{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #780d2d;
}

body{
    font-family: "Titillium Web";
    font-weight: bold;
    background-color: #8a1538;
}


.navbar-menu .logo a img{
    width: 130px;
    margin-top: -9px;
}

.logo{
    float: left;
}

.navbar-menu{
    height: 70px;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

.navbar-menu .menu {
    float: right;
    margin: 25px 2px;
    box-sizing: border-box;
}

.navbar-menu .menu a {
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
}

.navbar-menu .menu a:hover{
    font-size: large;
    background-color: #8b4a5dc7;
    border-radius:10px;
}

.navbar-menu .menu a:nth-child(5){
    border: 2px solid white;
    background-color: #8b4a5dce;
    color: white;
    font-size: 19px;
    padding: 1px 8px;
    border-radius: 10px;
}

.navbar-menu .menu a:nth-child(4),
.navbar-menu .menu a:nth-child(6){
    padding: 0;
    pointer-events: none;
    cursor: default;
}


.menu .hover-akun{
    position: relative;
    box-sizing: border-box;
}


.menu p{
    position: relative;
    float: right;
    margin-right:105px;
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 4px 7px;
    background-color: #8b4a5dc7;
    color: white;
    display: none;
}

.navbar-menu .menu a:nth-child(5):hover ~ .hover-akun p{
    display: block;
}

/* ? --------------------------------------------------- */

/* ? -------------------- Section ---------------------- */
section {
    margin: 70px auto;
    width: 80%;
    border: 1px solid transparent;
}

section .content{
    text-align: center;
    margin-top: 30px;
    color: white;
}

section h1{
    letter-spacing: 10px;
    font-size: 50px;
}

section .content p{
    letter-spacing: 2px;
    font-size: 20px;
}

.kotak{
    margin-top: 30px;
    padding: 20px;
    background-color: #780d2d;
    width: 820px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 70px;
    color: white;
}

.kanan{
    width: 32%;
    height: 239px;
    float: right;
    text-align: right;
}

.kiri{
    width: 63%;
    float: left;
}

.kiri .row div{
    text-align: left;
}

.kotak .kiri .isi-kotak{
    width: 100%;
    letter-spacing: 1px;
}

.kotak .kiri .pertandingan{
    width: 100%;
    display: flex;
    justify-content: left;
}

.pertandingan .bendera img{
    border: 1px solid white;
    width: 70px;
}

.pertandingan .bendera p{
    font-size: 10px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.pertandingan .vs{
    font-size: 20px;
    color: white;
    margin: 10px 15px;
}

.button-back{
    border: 1px solid white;
    padding: 7px 16px;
    margin-top: 40px;
    margin-left: 270px;
    color: black;
    border-radius: 3px;
    box-shadow: 4px 6px black;
    background-color: #fffba0;
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: bold;
}

.button-back:hover{
    background-color: #fffba0;
}

.button-back:active{
    background-color: #fffba0;
    box-shadow: 2px 3px black;
    transform: translateY(4px);
}

.kanan img{
    width: 210px;
    margin-top: 17px;
}

/* ? --------------------------------------------------- */









/* ? --------------------- Footer ----------------------- */
footer{
    height: 40px;
    width: 100%;
    background-color: #780d2d;
    position: fixed;
    bottom: 0;
}

.footer-main{
    height: 40px;
    width: 80%;
    margin: auto;
}

.footer-main p{
    color: white;
    padding: 10px 0;
    box-sizing: border-box
}

.footer-main p .copy-icon{
    font-size: 15px;
}

.copyright{
    float: left;
}

.footer-main .lokasi-terkini{
    margin: 8px 2px;
    box-sizing: border-box;
    float: right;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
}


.footer-main .lokasi-terkini p{
    padding: 0;
    font-size: 13px;
    color: white;
}


/* ? ---------------------------------------------------- */











