html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * Clear fix */
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

/* width */
body::-webkit-scrollbar {
width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
background: white; 
border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
background: rgb(155, 155, 155); 
}

/* ! ------------------ My CSS ----------------------- */
/* ? ------------------ Header ------------------------*/
header{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #780d2d;
}

body{
    font-family: "Titillium Web";
    font-weight: bold;
    background-color: #8a1538;
}


.navbar-menu .logo a img{
    width: 130px;
    margin-top: -9px;
}

.logo{
    float: left;
}

.navbar-menu{
    height: 70px;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

.navbar-menu .menu {
    float: right;
    margin: 25px 2px;
    box-sizing: border-box;
}

.navbar-menu .menu a {
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
}


.navbar-menu .menu a:nth-child(5){
    border: 2px solid white;
    background-color: #8b4a5dce;
    color: white;
    font-size: 19px;
    padding: 1px 8px;
    border-radius: 10px;
}

.navbar-menu .menu a:nth-child(4),
.navbar-menu .menu a:nth-child(6){
    padding: 0;
    pointer-events: none;
    cursor: default;
}


.menu p{
    position: relative;
    float: right;
    margin-right:105px;
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 4px 7px;
    background-color: #8b4a5dc7;
    color: white;
    display: none;
}

.navbar-menu .menu a:nth-child(5):hover ~ .hover-akun p{
    display: block;
}

.navbar-menu .menu a:hover{
    font-size: large;
    background-color: #8b4a5dc7;
    border-radius:10px;
}

/* ? --------------------------------------------------- */

/* ? -------------------- Section ---------------------- */
section {
    margin: 70px auto;
    width: 80%;
}

section .content{
    text-align: center;
    border: 1px solid transparent;
    margin-top: 90px; /* - 70px*/
    color: white;
}

section h1{
    letter-spacing: 10px;
    font-size: 50px;
}

.kotak{
    margin-top: 30px;
    background-color: #780d2d;
    width: 900px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px;
    color: white;
    text-align: left;
}

.container-fluid .row input[type="text"]::placeholder,
.container-fluid .row input[type="password"]::placeholder,
.container-fluid .row textarea::placeholder{
    color: #684d55;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
}

.container-fluid .row textarea{
    border-radius: 4px;
    padding-left: 8px;
}

.container-fluid .row input[type="text"],
.container-fluid .row textarea{
    color: #780d2d;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}

.laki{
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    border: 1px solid white;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.btn{
    padding: 3px 6.5px;
}

.perempuan{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid white;
    background-color: white;
    font-weight: bold;
    color: black;
    margin-left: -3.5px;
    font-size: 17px;
}

.tes:hover {
color: #fff;
background-color: #3c861b;
border-color: #3c861b;
}
.btn-check:focus + .tes, .tes:focus {
box-shadow: 0 0 0 0.10rem #3c861b;
}
.btn-check:checked + .tes, .btn-check:active + .tes, .tes:active, .tes.active, .tes.dropdown-toggle.show {
color: #fff;
background-color: #3c861b;
border-color: #3c861b;
}
.btn-check:checked + .tes:focus, .btn-check:active + .tes:focus, .tes:active:focus, .tes.active:focus, .tes.dropdown-toggle.show:focus {
box-shadow: 0 0 0 0.10rem #3c861b;
}
.tes:disabled, .tes.disabled {
color: #1abc9c;
background-color: #9fff7c;
}

.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
    pointer-events: none;
    filter: none;
    opacity: 0.65;
}


.kotak .button-daftar{
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 3px 6px black;
    background-color: #780d2d;
    font-size: 19px;
    letter-spacing: 4px;
    font-weight: bold;
}

.button-daftar:hover{
    background-color: #67122c;
}

.button-daftar:active{
    background-color: #67122c;
    box-shadow: 2px 3px black;
    transform: translateY(4px);
}

.kotak input[type='checkbox']{
    width: 33px;
    margin-left: -10px;
    margin-right: -4px;
}

.notif{
    width: 250px;
    height: 60px;
    font-size: 12px;
    color: #780d2d;
    text-align: center;
    padding-top: 19px;
    line-height: 18px;
    border: 2px solid #780d2d;
    position: fixed;
    bottom:60px;
    right: 130px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
}

.notif .close{
    width: 18px;
    height: 18px;
    position: relative;
    bottom:36.5px;
    right: -227px;
    font-weight: bold;
    color: #780d2d;
    border: 1.5px solid #780d2d;
    border-radius: 50%;
}

.close a{
    color: #780d2d;
    cursor: default;
    
}

.close a svg{
    margin-top: -5px;
}

/* ? --------------------------------------------------- */









/* ? --------------------- Footer ----------------------- */
footer{
    height: 40px;
    width: 100%;
    background-color: #780d2d;
    position: fixed;
    bottom: 0;
}

.footer-main{
    height: 40px;
    width: 80%;
    margin: auto;
}

.footer-main p{
    color: white;
    padding: 10px 0;
    box-sizing: border-box
}

.footer-main p .copy-icon{
    font-size: 15px;
}

.copyright{
    float: left;
}

.footer-main .lokasi-terkini{
    margin: 8px 2px;
    box-sizing: border-box;
    float: right;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
}


.footer-main .lokasi-terkini p{
    padding: 0;
    font-size: 13px;
    color: white;
}




/* ? ---------------------------------------------------- */











